html {
    background-image: url("images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

#content {
    text-align: center;
    margin: auto;
    background: hsla(30, 100%, 85%, 75%);
    max-width: 65rem;
    height: 40rem;
    padding-top: 1rem;
}

#navbar {
    display: flex;
    max-width: 50rem;
    padding-top: 0.5rem;
    margin: auto;
}

/*Styling of the buttons*/
.tab {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: gray;
    border:none;
}

.tab:hover {
    cursor: pointer;
}

.tab-active {  
    background: white;
    border: none
}

/*Styling of the copy accessed by each button*/
.tab-copy {
    margin: auto;
    width: 50rem;
    height: 30rem;
    background: white;
    padding-top: 1rem;
}

.tab-copy img {
    max-width: 100%;
    height: auto;
}

/*Styling of the menu content*/
#menu-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/*Styling of each section of the menu*/
#menu-content div {
    flex-basis: 10rem;
    width: 45%;
    margin: auto;
    
}

#menu-content div p {
    text-align: start;
    margin-left: 5rem;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#restaurant-contact {
    font-size: 1.5rem;
}

/*Put person Github and LinkedIn at bottom of page*/
#personal-contact{
    position: absolute;
    bottom: 0; 
    width: 100%;   
}

#personal-contact a {
    margin: 2rem;
    text-decoration: none;
}

@media (max-width: 1000px){
    #content {
        width: 40rem;
    }
    
    #navbar {
        width: 30rem;
    }

    .tab-copy {
        width: 30rem;
    }

    #menu-content div {
        width: 13rem;
    }
}